/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.container {
  max-width: 1176px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px; }
  .container__narrow {
    max-width: 936px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

:not(.flex) [class*="col-"] {
  width: 100%;
  float: left;
  transition: width 0.15s ease; }

:not(.flex) .col-1-2 {
  width: 100%; }
  @media (min-width: 768px) {
    :not(.flex) .col-1-2 {
      width: 50%; } }

:not(.flex) .col-1-3 {
  width: 100%; }
  @media (min-width: 768px) {
    :not(.flex) .col-1-3 {
      width: 33.333333333%; } }

:not(.flex) .col-2-3 {
  width: 100%; }
  @media (min-width: 768px) {
    :not(.flex) .col-2-3 {
      width: 66.666666666%; } }

:not(.flex) .col-1-5 {
  width: 20%; }

:not(.flex) .col-2-5 {
  width: 40%; }

:not(.flex) .col-3-5 {
  width: 60%; }

:not(.flex) .col-4-5 {
  width: 80%; }

@media (max-width: 767px) {
  .flex .col {
    width: 100%; } }

@media (min-width: 768px) {
  .flex .col {
    flex: 1;
    flex-wrap: wrap;
    padding-right: 24px; } }

/*------------------------------------*    $FLEXBOX
\*------------------------------------*/
.flex {
  display: flex;
  align-items: flex-start; }

.flex--align-center {
  align-items: center; }

.flex--align-bottom {
  align-items: flex-end; }

.flex--space-between {
  justify-content: space-between; }

.flex--justify-center {
  justify-content: center; }

.flex--justify-end {
  justify-content: flex-end; }

.flex--align-self--stretch {
  align-self: stretch; }

.flex--align-self--flex-end {
  align-self: flex-end; }

.flex--align-self--flex-start {
  align-self: flex-start; }

.flex--align-items--stretch {
  align-items: stretch; }

.flex--wrap {
  flex-wrap: wrap; }

.flex--direction--column {
  flex-direction: column; }

.flex--row-reverse {
  flex-direction: row-reverse; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background-color: #f2f2f2;
  color: #444;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  body.search__visible {
    overflow-y: hidden; }

.background--red {
  background-color: #da0000; }

.background--blue {
  background-color: #1a91d6; }

.background--green {
  background-color: #9cce3d; }

.background--white {
  background-color: #fff; }

.color--red {
  color: #da0000; }

.color--blue {
  color: #1a91d6; }

.color--green {
  color: #9cce3d; }

.color--white {
  color: #fff; }

.border--red {
  border-color: #da0000; }

/**
 * Standaard paragrafen
 */
html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
  font-weight: 500;
  background: #fff; }

a {
  color: #da0000;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #a70000; }
    a:hover:not(.button), a:active:not(.button), a:focus:not(.button) {
      text-decoration: underline; }
  a:visited {
    color: #da0000; }
  a:not[class*="js-"] .fa {
    margin-left: 0.5rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: none;
  margin: 24px 0; }

p {
  margin-top: 24px;
  margin-bottom: 0; }

blockquote {
  clear: both;
  font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
  margin: 0.5rem 0 1rem;
  font-size: 1.75rem;
  line-height: 1.75em;
  color: #888888; }
  blockquote:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f10d";
    font-size: 3.75rem;
    line-height: 0.1em;
    margin-right: 24px;
    vertical-align: middle; }
  blockquote p {
    display: inline; }

.pt--quad {
  padding-top: 4rem; }

.pt--double {
  padding-top: 2rem; }

.pb--quad {
  padding-bottom: 4rem; }

.pb--double {
  padding-bottom: 2rem; }

/**
 * Fontawesome overwrites
 */
.fa-md {
  font-size: 1.33333333em; }

.fa-lg {
  font-size: 1.5rem; }

.fa-border {
  padding: 0; }

.fa-4x {
  font-size: 4rem; }

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease; }
  .header__up .header {
    top: -96px; }
  .header__down .header {
    top: 0; }
  .nav__menu--toggled .header {
    background-color: #080808; }
  .header__fixed .header {
    position: fixed;
    background-color: #080808;
    z-index: 10; }
    .header__fixed .header .nav {
      height: 66px;
      line-height: 66px; }
      .header__fixed .header .nav__link--logo {
        margin: -3px 0 0 24px; }
  .header .nav {
    position: relative;
    height: 96px;
    line-height: 96px;
    margin: 0; }
    @media (max-width: 767px) {
      .header .nav {
        flex-wrap: wrap; } }
    .header .nav ul {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none; }
      @media (min-width: 768px) {
        .header .nav ul {
          display: block; } }
      @media (max-width: 767px) {
        .header .nav ul {
          width: 100%;
          padding: 0 24px;
          background: #080808; } }
    .header .nav__link--logo {
      line-height: 1;
      margin: 1.125rem 0 0 24px; }
      @media (min-width: 768px) {
        .header .nav__link--logo {
          margin-left: 0; } }
    .header .nav__item {
      font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 700;
      line-height: 1.875rem; }
      @media (min-width: 768px) {
        .header .nav__item {
          display: inline-block;
          margin: 0 0 0 24px; } }
    .header .nav__link {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem 0; }
      @media (max-width: 767px) {
        .header .nav__link {
          display: block;
          padding: 1rem 0; } }
      .header .nav__link--active {
        border-bottom: 1px solid #1a91d6; }
      .header .nav__link:hover, .header .nav__link:focus, .header .nav__link:active {
        border-bottom: 1px solid #1a91d6;
        text-decoration: none; }
      .header .nav__link--icon {
        display: inline-block;
        color: #fff; }
        @media (max-width: 767px) {
          .header .nav__link--icon {
            padding: 1rem 0; } }
        .header .nav__link--icon:hover {
          transform: translateY(-1px); }
    .header .nav__toggle, .header .nav__toggle:before, .header .nav__toggle:after {
      position: absolute;
      width: 32px;
      height: 3px;
      background: #fff;
      transition: all 0.3s ease;
      cursor: pointer; }
    .header .nav__toggle {
      display: block;
      top: 50%;
      right: 24px;
      transform: translateY(-50%); }
      @media (min-width: 768px) {
        .header .nav__toggle {
          display: none; } }
      .header .nav__toggle:before, .header .nav__toggle:after {
        content: "";
        display: block; }
      .header .nav__toggle:before {
        top: -9px; }
      .header .nav__toggle:after {
        top: 9px; }
      .header .nav__toggle[aria-expanded="true"] {
        background-color: transparent; }
        .header .nav__toggle[aria-expanded="true"] + ul {
          display: block; }
        .header .nav__toggle[aria-expanded="true"]:before, .header .nav__toggle[aria-expanded="true"]:after {
          background: #fff;
          top: 0; }
        .header .nav__toggle[aria-expanded="true"]:before {
          transform: rotate(45deg); }
        .header .nav__toggle[aria-expanded="true"]:after {
          transform: rotate(-45deg); }
  @media (max-width: 767px) {
    .header .container {
      padding: 0; } }

.hero {
  height: calc(100vh - 96px);
  width: 100%;
  background: #444 url("../images/hero-homepage.png") center center no-repeat;
  background-size: cover; }
  @media (min-width: 960px) {
    .hero {
      background-attachment: fixed; } }
  .hero__title {
    display: inline;
    font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0 24px;
    padding: 0.5rem;
    line-height: 1.33em; }
    .hero__title span {
      display: block;
      background: rgba(0, 0, 0, 0.6);
      border-left: 4px solid #da0000;
      padding: 0 0.5rem; }
      @media (min-width: 960px) {
        .hero__title span {
          display: inline; }
          .hero__title span:after {
            content: "\A";
            white-space: pre; } }
    @media (min-width: 768px) {
      .hero__title {
        margin: 0; } }

.intro {
  position: relative;
  background: #fff;
  padding-bottom: 3rem; }
  .intro:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "";
    width: 4px;
    height: 48px;
    background: #da0000; }
  .intro__widget {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #f2f2f2; }
    @media (min-width: 960px) {
      .intro__widget {
        margin-top: -96px; } }
    .intro__widget--item {
      display: flex;
      align-items: center;
      height: 96px;
      margin: 0 24px 0 0; }
      .intro__widget--item:last-of-type {
        margin: 0; }
      .intro__widget--item .fa-stack {
        margin-right: 24px; }
      .intro__widget--item strong {
        font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
        font-size: 1.25rem;
        line-height: 1.5rem;
        font-weight: 700; }
      .intro__widget--item--content {
        line-height: 1.5rem; }
      .intro__widget--item--meta {
        display: block;
        font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 500;
        color: #888888; }
    .intro__widget--next {
      width: 48px;
      text-align: center; }
  .intro__content p {
    font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
    line-height: 1.875rem;
    color: #888888; }

.album {
  position: relative;
  background-color: #444;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center; }
  .album:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "";
    width: 4px;
    height: 48px;
    background: #da0000; }
  @media (max-width: 767px) {
    .album {
      padding: 1rem 0 0; } }
  .album h1 {
    margin: 0 0 1.5rem; }
  .album__widget {
    margin: 0;
    padding: 0; }
    .album__widget--item {
      list-style: none;
      position: relative;
      width: 50%;
      display: flex;
      line-height: 0.5rem; }
      @media (min-width: 768px) {
        .album__widget--item {
          width: 33.33%; } }
      @media (min-width: 960px) {
        .album__widget--item {
          flex: 1; } }
    .album__widget--link {
      position: relative;
      transition: all 0.15s ease;
      color: #fff;
      overflow: hidden;
      width: 100%; }
      .album__widget--link:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.15s ease; }
      .album__widget--link img {
        max-width: 100%;
        width: 100%;
        height: auto; }
      .album__widget--link:hover, .album__widget--link:focus, .album__widget--link:active, .album__widget--link:visited {
        color: #fff; }
      .album__widget--link:hover:before, .album__widget--link:focus:before, .album__widget--link:active:before {
        background-color: rgba(0, 0, 0, 0.6); }
      .album__widget--link:hover .album__widget--number, .album__widget--link:focus .album__widget--number, .album__widget--link:active .album__widget--number {
        visibility: hidden;
        opacity: 0; }
      .album__widget--link:hover .album__widget--temperature, .album__widget--link:focus .album__widget--temperature, .album__widget--link:active .album__widget--temperature {
        visibility: visible;
        opacity: 1; }
      .album__widget--link:hover .album__widget--info, .album__widget--link:focus .album__widget--info, .album__widget--link:active .album__widget--info {
        visibility: visible;
        opacity: 1; }
        .album__widget--link:hover .album__widget--info p, .album__widget--link:focus .album__widget--info p, .album__widget--link:active .album__widget--info p {
          transform: translateY(0); }
    .album__widget--number {
      font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 5.25rem;
      line-height: 0.875em;
      visibility: visible;
      opacity: 1;
      font-weight: 300;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      color: rgba(255, 255, 255, 0.6); }
    .album__widget--info {
      visibility: hidden;
      opacity: 0;
      transition: all 0.15s ease; }
      .album__widget--info p {
        font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        line-height: 1.875rem;
        position: absolute;
        display: block;
        bottom: 0.5rem;
        left: 0.675rem;
        margin: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease; }
    .album__widget--temperature {
      visibility: hidden;
      opacity: 0;
      font-weight: 700;
      line-height: 1.125rem;
      position: absolute;
      display: block;
      top: -2.5%;
      right: -20%;
      background-color: #da0000;
      transform: rotate(45deg);
      width: 50%;
      padding: 1rem 0 0.25rem;
      transition: all 0.15s ease; }
      @media (min-width: 960px) {
        .album__widget--temperature {
          right: -17.5%; } }

#latest {
  position: relative; }

.latest {
  position: relative;
  background: #fff;
  padding-top: 3rem;
  padding-bottom: 1rem; }
  @media (max-width: 767px) {
    .latest {
      padding-left: 0;
      padding-right: 0; } }
  .latest:after {
    content: "";
    display: block;
    clear: left; }

.news {
  width: 100%; }
  @media (max-width: 959px) {
    .news {
      margin-bottom: 2rem; } }
  @media (min-width: 960px) {
    .news {
      float: left;
      width: 72.972973%; } }
  @media (max-width: 959px) {
    .news__header {
      padding: 0 24px;
      flex-wrap: wrap; } }
  @media (min-width: 960px) {
    .news__header {
      width: calc(72.972973% - 24px);
      padding: 0; } }
  .news__item {
    position: relative;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 1.5rem;
    float: left;
    margin-bottom: 24px; }
    .news__item:before {
      position: absolute;
      left: -4px;
      top: 0;
      content: "";
      width: 4px;
      height: 48px;
      background: #da0000; }
    @media (max-width: 767px) {
      .news__item:after {
        content: "";
        display: table;
        clear: both; } }
    @media (min-width: 768px) {
      .news__item {
        margin-right: 24px;
        width: calc(50% - 12px); }
        .news__item:last-child {
          margin-right: 0; } }
    @media (min-width: 960px) {
      .news__item {
        width: calc(50% - 24px);
        margin-bottom: 0; } }
    .news__item img {
      max-width: 100%;
      width: 100%;
      height: auto; }
    .news__item--title, .news__item--content {
      padding: 0 1.5rem 0; }
    .news__item--title h2 {
      font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 700;
      margin-bottom: 0; }
    .news__item--title p {
      font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: #888888;
      margin: 0; }
    .news__item--content p {
      font-family: Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif;
      font-size: 1rem;
      line-height: 1.5rem; }

.thermo {
  position: relative;
  color: #fff;
  background-color: #da0000;
  padding: 0 24px;
  width: 100%; }
  .thermo:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "";
    width: 4px;
    height: 48px;
    background: #da0000; }
  .thermo:after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 959px) {
    .thermo {
      clear: both;
      margin-top: 1rem;
      padding-top: 0.5rem; } }
  @media (min-width: 960px) {
    .thermo {
      position: absolute;
      right: 0;
      left: 71.6216216%;
      width: 100%; } }
  .thermo__widget {
    list-style: none;
    padding: 0;
    margin: 0; }
    @media (min-width: 960px) {
      .thermo__widget {
        width: 24.3243243%; } }
    .thermo__widget--item {
      position: relative;
      padding: 0.5rem 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      margin-bottom: 1rem; }
      @media (max-width: 959px) {
        .thermo__widget--item {
          float: left;
          width: calc(50% - 12px);
          margin-right: 24px; }
          .thermo__widget--item:nth-child(2n + 2) {
            margin-right: 0; } }
      @media (max-width: 767px) {
        .thermo__widget--item {
          width: 100%; } }
      @media (max-width: 959px) {
        .thermo__widget--item {
          display: inline; } }
      .thermo__widget--item span {
        font-weight: 700; }
      .thermo__widget--item--temp {
        position: absolute;
        right: 0;
        top: 23px;
        width: 32px;
        height: 32px;
        background-color: #980000;
        border-radius: 50%;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center; }
        .thermo__widget--item--temp.t60 {
          background-color: white;
          color: #da0000; }
    .thermo__widget--bar {
      position: relative;
      border: none;
      width: calc(100% - 32px);
      height: 10px;
      background-color: #980000;
      margin: 0.5rem 0; }
      .thermo__widget--bar--temp {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: #fff;
        top: -11px;
        right: -31px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: #980000; }
    .thermo__widget progress,
    .thermo__widget progress[role] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      background-size: auto;
      background-color: #980000;
      color: #ffba00;
      height: 10px;
      width: calc(100% - 31px);
      margin: 0.5rem 0; }
      .thermo__widget progress strong,
      .thermo__widget progress[role] strong {
        width: 100%; }
    .thermo__widget progress:not([value]),
    .thermo__widget progress:not([value])::-webkit-progress-bar,
    .thermo__widget progress:not([value])::-webkit-progress-bar {
      background-color: #980000; }
    .thermo__widget progress[value] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .thermo__widget progress[value]::-webkit-progress-bar {
      background-color: #980000; }
    .thermo__widget progress[value]::-webkit-progress-bar {
      background-color: #980000; }
    .thermo__widget progress[value]::-webkit-progress-value {
      background-image: linear-gradient(90deg, #ffba00, #fff); }
    .thermo__widget progress::-moz-progress-bar {
      background-image: linear-gradient(90deg, #ffba00, #fff); }

.footer {
  margin: -4rem 0 0 0;
  padding: 4rem 0 1rem;
  background-color: #444;
  color: #fff;
  /**
   * Popular list
   */
  /**
   * Newsletter form
   */
  /**
   * Google Map
   */ }
  .footer .col {
    padding-top: 2rem; }
    .footer .col:last-of-type {
      padding-right: 0; }
    @media (min-width: 768px) {
      .footer .col.map {
        flex: 2; } }
  .footer a {
    color: #fff; }
    .footer a:hover, .footer a:focus {
      color: #fff;
      border-bottom: 1px solid #fff; }
    .footer a:visited {
      color: #fff; }
  .footer ol {
    padding-left: 1.125rem;
    border-top: 1px solid #606060; }
    .footer ol li {
      border-bottom: 1px solid #606060;
      padding: 1rem 0; }
  .footer form input {
    margin-bottom: 0.5rem;
    font-family: "FontAwesome", Assistant, 'Open Sans', Helvetica, Arial, 'Droid Sans', sans-serif; }
  .footer #map {
    width: 100%;
    max-width: 100%;
    height: 300px; }

.colofon {
  background: #3a3a3a;
  color: #888888;
  padding: 0.5rem 0 1.5rem; }

.search__overlay {
  max-height: 0;
  opacity: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  transition: max-height 0.3s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.6s ease-out; }
  .search__overlay div {
    height: 100%; }

.search__visible .search__overlay {
  max-height: 100vh;
  opacity: 1;
  top: 0;
  transition: max-height 0.4s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s ease-out; }

.search__form {
  width: 100%; }
  .search__form input[type="search"] {
    width: 100%; }
  .search__form button[type="submit"] {
    margin-left: 0.5rem; }

.search__open, .search__close {
  cursor: pointer; }

.search__close {
  position: absolute;
  top: 24px;
  right: 24px; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  height: 3rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  width: 100%;
  font-size: 0.875rem; }

.button {
  display: inline-block;
  text-decoration: none;
  height: 3rem;
  line-height: 2.625rem;
  border-radius: 3px;
  transition: all 0.15s ease;
  font-weight: 700;
  padding: 0 1.5rem;
  background-color: #da0000;
  color: #fff;
  border: 0; }
  .button:hover, .button:active, .button:focus {
    transform: translateY(-1px); }
  .button__alt {
    background-color: transparent;
    border: 2px solid #da0000;
    color: #da0000; }
    .button__alt:hover, .button__alt:focus {
      background-color: #da0000;
      border: 2px solid #da0000;
      color: #fff; }
  .button__white {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff; }
    .button__white:hover, .button__white:focus {
      background-color: #fff;
      color: #080808; }
  .button .fa {
    margin-left: 0.5rem; }
  .button__icon {
    padding: 0 0.75rem;
    width: 3rem; }
    .button__icon .fa {
      margin-left: 0; }

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }
