$verticalSpacing: (desktop: 24px);

$padding: 1rem;
$padding-and-half: $padding*1.5;
$padding-double: $padding*2;
$padding-triple: $padding*3;
$padding-quad: $padding*4;
$padding-half: $padding/2;
$padding-quarter: $padding/4;

$space: 1rem;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-triple: $space*3;
$space-quad: $space*4;
$space-half: $space/2;
$space-quarter: $space/4;
