blockquote {
  clear: both;
  @include type-alpha--l--light;
  margin: $space-half 0 $space;
  font-size: 1.75rem;
  line-height: 1.75em;
  color: $gray--50;

  &:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f10d";
    font-size: 3.75rem;
    line-height: 0.1em;
    margin-right: $gutter;
    vertical-align: middle;
  }

  p {
    display: inline;
  }
}

.pt {
  &--quad {
    padding-top: $padding-quad;
  }

  &--double {
    padding-top: $padding-double;
  }
}

.pb {
  &--quad {
    padding-bottom: $padding-quad;
  }

  &--double {
    padding-bottom: $padding-double;
  }
}
