/*------------------------------------*\
    $FLEXBOX
\*------------------------------------*/
.flex {
  display: flex;
  align-items: flex-start;
}
.flex--align-center {
  align-items: center;
}
.flex--align-bottom {
  align-items: flex-end;
}
.flex--align-center--until-medium {
  // @include media('<medium') {
  //     align-items: center;
  // }
}
.flex--space-between {
  justify-content: space-between;
}
.flex--justify-center {
  justify-content: center;
}
.flex--justify-end {
  justify-content: flex-end;
}
.flex--align-self--stretch {
  align-self: stretch;
}
.flex--align-self--flex-end {
  align-self: flex-end;
}
.flex--align-self--flex-start {
  align-self: flex-start;
}
.flex--align-items--stretch {
  align-items: stretch;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--direction--column {
  flex-direction: column;
}
.flex--row-reverse {
  flex-direction: row-reverse;
}
