.intro {
  position: relative;
  background: $white;
  padding-bottom: $padding-triple;

  &:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "";
    width: 4px;
    height: 48px;
    background: $red;
  }

  &__widget {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: $border--default;

    @include media(">=xlarge") {
      margin-top: -96px;
    }

    &--item {
      display: flex;
      align-items: center;
      height: 96px;
      margin: 0 $gutter 0 0;

      &:last-of-type {
        margin: 0;
      }

      .fa-stack {
        margin-right: $gutter;
      }

      strong {
        @include type-alpha--l--bold;
      }

      &--content {
        line-height: 1.5rem;
      }

      &--meta {
        display: block;
        @include type-alpha--body--meta;
      }
    }

    &--next {
      width: 48px;
      text-align: center;
    }
  }

  &__content {
    p {
      @include type-alpha--body--bold;
      color: $gray--50;
    }
  }
}
