.footer {
  margin: -$space-quad 0 0 0;
  padding: $padding-quad 0 $padding;
  background-color: $gray;
  color: $white;

  .col {
    padding-top: $padding-double;

    &:last-of-type {
      padding-right: 0;
    }

    &.map {
      @include media(">=large") {
        flex: 2;
      }
    }
  }

  a {
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      border-bottom: 1px solid $white;
    }

    &:visited {
      color: $white;
    }
  }

  /**
   * Popular list
   */
  ol {
    padding-left: 1.125rem;
    border-top: 1px solid $gray--60;

    li {
      border-bottom: 1px solid $gray--60;
      padding: $padding 0;
    }
  }

  /**
   * Newsletter form
   */
  form {
    input {
      margin-bottom: $space-half;
      font-family: "FontAwesome", $font-family--alpha;
    }
  }

  /**
   * Google Map
   */
  #map {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
}
