#latest {
  position: relative;
}

.latest {
  position: relative;
  background: $white;
  padding-top: $padding-triple;
  padding-bottom: $padding;

  @include media("<large") {
    padding-left: 0;
    padding-right: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: left;
  }
}

.news {
  width: 100%;

  @include media("<xlarge") {
    margin-bottom: $space-double;
  }

  @include media(">=xlarge") {
    float: left;
    width: 72.972973%; // (648px / 888px) * 100
  }

  &__header {
    @include media("<xlarge") {
      padding: 0 $gutter;
      flex-wrap: wrap;
    }

    @include media(">=xlarge") {
      width: calc(72.972973% - 24px);
      padding: 0;
    }
  }

  &__item {
    position: relative;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    padding-bottom: $padding-and-half;
    float: left;
    margin-bottom: $gutter;

    &:before {
      position: absolute;
      left: -4px;
      top: 0;
      content: "";
      width: 4px;
      height: 48px;
      background: $red;
    }

    @include media("<large") {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    @include media(">=large") {
      margin-right: 24px;
      width: calc(50% - 12px);

      &:last-child {
        margin-right: 0;
      }
    }

    @include media(">=xlarge") {
      width: calc(50% - 24px);
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    &--title,
    &--content {
      padding: 0 $padding-and-half 0;
    }

    &--title {
      h2 {
        @include type-alpha--l--bold;
        margin-bottom: 0;
      }

      p {
        @include type-alpha--body--meta;
        margin: 0;
      }
    }

    &--content {
      p {
        @include type-alpha--body;
      }
    }
  }
}
