.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;

  &__up & {
    top: -96px;
  }

  &__down & {
    top: 0;
  }

  .nav__menu--toggled & {
    background-color: $black;
  }

  &__fixed & {
    position: fixed;
    background-color: $black;
    z-index: 10;

    .nav {
      height: 66px;
      line-height: 66px;

      &__link--logo {
        margin: -3px 0 0 $gutter;
      }
    }
  }

  .nav {
    position: relative;
    height: 96px;
    line-height: 96px;
    margin: 0;

    @include media("<large") {
      flex-wrap: wrap;
    }

    ul {
      display: none;
      margin: 0;
      padding: 0;
      list-style: none;

      @include media(">=large") {
        display: block;
      }

      @include media("<large") {
        width: 100%;
        padding: 0 $gutter;
        background: $black;
      }
    }

    &__link--logo {
      line-height: 1;
      margin: 1.125rem 0 0 $gutter;

      @include media(">=large") {
        margin-left: 0;
      }
    }

    &__item {
      @include type-alpha--body--bold;

      @include media(">=large") {
        display: inline-block;
        margin: 0 0 0 $gutter;
      }
    }

    &__link {
      color: $white;
      text-decoration: none;
      padding: 0.5rem 0;

      @include media("<large") {
        display: block;
        padding: $padding 0;
      }

      &--active {
        border-bottom: 1px solid $blue;
      }

      &:hover,
      &:focus,
      &:active {
        border-bottom: 1px solid $blue;
        text-decoration: none;
      }

      &--icon {
        display: inline-block;
        color: $white;

        @include media("<large") {
          padding: $padding 0;
        }

        &:hover {
          transform: translateY(-1px);
        }
      }
    }

    &__toggle,
    &__toggle:before,
    &__toggle:after {
      position: absolute;
      width: 32px;
      height: 3px;
      background: $white;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    &__toggle {
      display: block;
      top: 50%;
      right: $gutter;
      transform: translateY(-50%);

      @include media(">=large") {
        display: none;
      }

      &:before,
      &:after {
        content: "";
        display: block;
      }
      &:before {
        top: -9px;
      }

      &:after {
        top: 9px;
      }

      &[aria-expanded="true"] {
        background-color: transparent;

        + ul {
          display: block;
        }

        &:before,
        &:after {
          background: $white;
          top: 0;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  .container {
    @include media("<large") {
      padding: 0;
    }
  }
}
