.thermo {
  position: relative;
  color: $white;
  background-color: $red;
  padding: 0 $gutter;
  width: 100%;

  &:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "";
    width: 4px;
    height: 48px;
    background: $red;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @include media("<xlarge") {
    clear: both;
    margin-top: $space;
    padding-top: $padding-half;
  }

  @include media(">=xlarge") {
    position: absolute;
    right: 0;
    left: 71.6216216%; // (638px / 888px) * 100
    width: 100%;
  }

  &__widget {
    list-style: none;
    padding: 0;
    margin: 0;

    @include media(">=xlarge") {
      width: 24.3243243%; // (216px / 888px) * 100
    }

    &--item {
      position: relative;
      padding: $padding-half 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      margin-bottom: $padding;

      @include media("<xlarge") {
        float: left;
        width: calc(50% - 12px);
        margin-right: 24px;

        &:nth-child(2n + 2) {
          margin-right: 0;
        }
      }

      @include media("<large") {
        width: 100%;
      }

      @include media("<xlarge") {
        display: inline;
      }

      span {
        font-weight: 700;
      }

      &--temp {
        position: absolute;
        right: 0;
        top: 23px;
        width: 32px;
        height: 32px;
        background-color: $red--dark;
        border-radius: 50%;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        &.t60 {
          background-color: rgba(255, 255, 255, 1);
          color: $red;
        }
      }
    }

    &--bar {
      position: relative;
      border: none;
      width: calc(100% - 32px);
      height: 10px;
      background-color: $red--dark;
      margin: $padding-half 0;

      &--temp {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: $white;
        top: -11px;
        right: -31px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: $red--dark;
      }
    }

    progress,
    progress[role] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border: none;
      background-size: auto;
      background-color: $red--dark;
      color: #ffba00;
      height: 10px;
      width: calc(100% - 31px);
      margin: $space-half 0;

      strong {
        width: 100%;
      }
    }

    progress:not([value]),
    progress:not([value])::-webkit-progress-bar,
    progress:not([value])::-webkit-progress-bar {
      background-color: $red--dark;
    }

    progress[value] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    progress[value]::-webkit-progress-bar {
      background-color: $red--dark;
    }
    progress[value]::-webkit-progress-bar {
      background-color: $red--dark;
    }

    progress[value]::-webkit-progress-value {
      background-image: linear-gradient(90deg, #ffba00, #fff);
    }

    progress::-moz-progress-bar {
      background-image: linear-gradient(90deg, #ffba00, #fff);
    }
  }
}
