.album {
  position: relative;
  background-color: $gray;
  color: $white;
  padding-top: $padding;
  padding-bottom: $padding;
  text-align: center;

  &:before {
    position: absolute;
    left: -4px;
    top: 0;
    content: "";
    width: 4px;
    height: 48px;
    background: $red;
  }

  @include media("<large") {
    padding: $padding 0 0;
  }

  h1 {
    margin: 0 0 1.5rem;
  }

  &__widget {
    margin: 0;
    padding: 0;

    &--item {
      list-style: none;
      position: relative;
      width: 50%;
      display: flex;
      line-height: 0.5rem;

      @include media(">=large") {
        width: 33.33%;
      }

      @include media(">=xlarge") {
        flex: 1;
      }
    }

    &--link {
      position: relative;
      transition: all 0.15s ease;
      color: $white;
      overflow: hidden;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.15s ease;
      }

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }

      &:hover,
      &:focus,
      &:active,
      &:visited {
        color: $white;
      }

      &:hover,
      &:focus,
      &:active {
        &:before {
          background-color: rgba(0, 0, 0, 0.6);
        }
        .album__widget--number {
          visibility: hidden;
          opacity: 0;
        }

        .album__widget--temperature {
          visibility: visible;
          opacity: 1;
        }

        .album__widget--info {
          visibility: visible;
          opacity: 1;

          p {
            transform: translateY(0);
          }
        }
      }
    }

    &--number {
      @include type-alpha--xl;
      visibility: visible;
      opacity: 1;
      font-weight: 300;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      color: rgba(255, 255, 255, 0.6);
    }

    &--info {
      visibility: hidden;
      opacity: 0;
      transition: all 0.15s ease;

      p {
        @include type-alpha--body--bold;
        position: absolute;
        display: block;
        bottom: 0.5rem;
        left: 0.675rem;
        margin: 0;
        transform: translateY(100%);
        transition: transform 0.3s ease;
      }
    }

    &--temperature {
      visibility: hidden;
      opacity: 0;
      font-weight: 700;
      line-height: 1.125rem;
      position: absolute;
      display: block;
      top: -2.5%;
      right: -20%;
      background-color: $red;
      transform: rotate(45deg);
      width: 50%;
      padding: 1rem 0 0.25rem;
      transition: all 0.15s ease;

      @include media(">=xlarge") {
        right: -17.5%;
      }
    }
  }
}
