.hero {
  height: calc(100vh - 96px);
  width: 100%;
  background: $gray url("../images/hero-homepage.png") center center no-repeat;
  background-size: cover;

  @include media(">=xlarge") {
    background-attachment: fixed;
  }

  &__title {
    display: inline;
    @include type-alpha--hero;
    color: $white;
    margin: 0 $gutter;
    padding: $padding-half;
    line-height: 1.33em;

    span {
      display: block;
      background: rgba(0, 0, 0, 0.6);
      border-left: 4px solid $red;
      padding: 0 $padding-half;

      @include media(">=xlarge") {
        display: inline;
        &:after {
          content: "\A";
          white-space: pre;
        }
      }
    }

    @include media(">=large") {
      margin: 0;
    }
  }
}
