.button {
  display: inline-block;
  text-decoration: none;
  height: 3rem;
  line-height: 2.625rem;
  border-radius: 3px;
  transition: all 0.15s ease;
  font-weight: 700;
  padding: 0 1.5rem;
  background-color: $red;
  color: $white;
  border: 0;

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-1px);
  }

  &__alt {
    background-color: $button-background-color--alt;
    border: 2px solid $button-border-color--alt;
    color: $button-color--alt;

    &:hover,
    &:focus {
      background-color: $button-background-color-hover--alt;
      border: 2px solid $button-background-color-hover--alt;
      color: $button-border-color-hover--alt;
    }
  }

  &__white {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;

    &:hover,
    &:focus {
      background-color: $white;
      color: $black;
    }
  }

  .fa {
    margin-left: 0.5rem;
  }

  &__icon {
    padding: 0 0.75rem;
    width: 3rem;
    .fa {
      margin-left: 0;
    }
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
